extends layout
block content  

  .container
    // TITLE  
    //- h1.col-xs-12.col-md-8.col-md-offset-2(class='bg-primary title')=title
  
    // REGISTRATION FORM
    .panel.panel-default.col-sm-12.col-md-8.col-md-offset-2
      .panel-heading
        h1(class='title')=title
      .panel-body
        form(class="" role="form" data-toggle="validator" action='/volunteers/register' method='post')
          
          // FIRST NAME
          .form-group
            label(for="first_name") First Name
            //- input(type="text", class="form-control", name="first_name")
            input(type="text", class="form-control", id="first_name" name="first_name" required)
                
          // LAST NAME
          .form-group
            label(for="last_name") Last Name
            //- input(type="text", class="form-control", name="last_name")
            input(type="text", class="form-control", name="last_name" required)
          
          // EMAIL
          .form-group
            label(for="email") Email
            //- input(type="email", class="form-control", name="email")
            input(type="email", class="form-control", name="email" required)
        
          // GENERAL EMAIL LIST
          .form-group
            div.radio_buttons
              strong Please sign me up to the email list!
              div
                label.font-weight-normal(for="email_list") Yes
                input(type="radio", name="email_list", value="yes" required)
                label.font-weight-normal(for="email_list") No      
                input(type="radio", name="email_list", value="no" required)
          
          // OPPORTINITY CATEGORIES
          .form-group
            div
              strong Volunteer opportunities that interest you:
            div.check_boxes
              each opportunity, index in opportunity_categories
                label.font-weight-normal(for="opportity_category_#{index}") #{opportunity[0].toUpperCase() + opportunity.substring(1)}
                input(type="checkbox", id="opportunity__category_#{index}}" name="opportunity_category_#{index}")
          
          // LANGUAGES SPOKEN  
          .form-group
            div
              strong Languages Spoken:
            div.check_boxes
              each language, index in languages
                label.font-weight-normal(for="language_#{index}") #{language[0].toUpperCase() + language.substring(1)}
                input(type="checkbox", id="language_#{index}}" name="language_#{index}")
          
          // HOW OFTEN
          .form-group      
            label(for="how_often") Approximately how often can you volunteer?
            select(class="form-control", name="how_often" required)
              option(value="") Choose One
              each how_often, key in how_oftens
                option(value="#{key}") #{how_often}
              
          // TIME OF DAY
          .form-group
            label(for="time_of_day") What time of day is best for you?
            select(class="form-control", name="time_of_day" required)
              option(value="") Choose One
              each time_of_day, key in times_of_day
                option(value="#{key}") #{time_of_day}
            
          // RELIABLE CAR & CAN DRIVE?
          .form-group  
            div
              strong Do you have a reliable vehicle and are able to drive?
            div.radio_buttons
              label.font-weight-normal(for="reliable_transportation") Yes
              input(type="radio", name="reliable_transportation", value="yes" required)
              label.font-weight-normal(for="reliable_transportation") No      
              input(type="radio", name="reliable_transportation", value="no" required)
          
          // FAMILY PARTICIPATION
          .form-group
            div
              strong I am interested in opportunities that my family/children can participate in:
            div.radio_buttons
              label.font-weight-normal(for="family_participation") Yes
              input(type="radio", name="family_participation", value="yes" required)
              label.font-weight-normal(for="family_paticipation") No      
              input(type="radio", name="family_participation", value="no" requied)
                  
          // AFFILATION
          .form-group
            label(for="affiliation") Affiliation
            select(class="form-control", name="affiliation" required)  
              option(value="") Choose One
              each affiliation, key in affiliations
                option(value="#{key}") #{affiliation}
                
          // HEAR ABOUT US
          .form-group
            label(for="hear_about_us") How did you hear about us?
            select(class="form-control", name="hear_about_us" required)
              option(value="") Choose One
              each hear_about, key in hear_abouts
                option(value="#{key}") #{hear_about}
          
          // SUBMIT      
          button(type="submit" class="btn btn-default") Submit    
  .container <br>
  .container <br>
