extends layout

block content
  h1(class='bg-primary title')=title
  .row
    .col-md-10
      table(class='table table-bordered')
        each volunteer in volunteers
          tr
            //- td(class='col-md-1') #{volunteer.first_name}
            //- td(class='col-md-1') #{volunteer.last_name}
            //- td(class='col-md-1') #{volunteer.cell_number}
            //- td(class='col-md-1') #{volunteer.home_number}
            //- td(class='col-md-1') #{volunteer.email}
            
            td #{volunteer.first_name}
            td #{volunteer.last_name}
            td #{volunteer.cell_number}
            td #{volunteer.home_number}
            td #{volunteer.email}
            
            //- td(class='col-md-1')
            //-   ul(class='list-inline volunteer-btn-margin')
            //-     li
            //-       button 
            //-         a view
            //-     li
            //-       button edit 

    .col-md-2
      h3 Quick Search
      button
        a Subscribers
      button
        a Drivers
      button
        a Family Participation
            
      h3 Custom Search
      form(class="" role="form" data-toggle="validator" action='' method='post')

      // AFFILATION
      .form-group
        label(for="opportunity") Opportunity
        select(class="form-control", name="opportunity" )  
          option(value="") 
          each opportunity, key in opportunity_categories
            option(value="#{key}") #{opportunity}
      .form-group
        label(for="language") Language
        select(class="form-control", name="language" )  
          option(value="") 
          each language, key in languages
            option(value="#{key}") #{language}   
      .form-group
        label(for="hear_about") Hear About
        select(class="form-control", name="hear_about" )  
          option(value="") 
          each hear_about, key in hear_abouts
            option(value="#{key}") #{hear_about}
      .form-group
        label(for="affiliation") Affiliation
        select(class="form-control", name="affiliation" )  
          option(value="") Choose One
          each affiliation, key in affiliations
            option(value="#{key}") #{affiliation}
      //- .form-group
      //-   label(for="how_often") How Often
      //-   select(class="form-control", name="how_often" )  
      //-     option(value="") 
      //-     each how_often, key in how_oftens
      //-       option(value="#{key}") #{how_often}            
      //- .form-group
      //-   label(for="time_of_day") Time Of Day
      //-   select(class="form-control", name="time_of_day" )  
      //-     option(value="") 
      //-     each time_of_day, key in times_of_day
      //-       option(value="#{key}") #{time_of_day}
      .form-group
        div.check_boxes
          input(type="checkbox" id="driver" name="driver")
          label.font-weight-normal(for="driver") Driver
          br
          input(type="checkbox" id="subscriber" name="subscriber")
          label.font-weight-normal(for="subscriber") Subscriber
          br
          input(type="checkbox" id="family_opportunity" name="family_opportunity")
          label.font-weight-normal(for="family_opportunity") Family Opportunity
      // SUBMIT      
      button.btn.btn-default.submit(type="submit" class="btn btn-default") Search  
      
          
        
