extends layout

block content
  .container
    .col-sm-12.col-md-8.col-md-offset-2
      .panel.panel-default.panel-primary.registration-panel
        .panel-heading
            h3.panel-title.title
              strong=title
        .panel-body
          form(class="", role="form", data-toggle="validator", action='/volunteers/edit/#{volunteer._id}', method='post')
            
            // FIRST NAME
            .form-group
              label(for="first_name") First Name
              //- input(type="text", class="form-control", name="first_name")
              input(type="text", class="form-control", id="first_name" name="first_name" required, value="#{volunteer.firstName}")
                  
            // LAST NAME
            .form-group
              label(for="last_name") Last Name
              //- input(type="text", class="form-control", name="last_name")
              input(type="text", class="form-control", name="last_name" required, value="#{volunteer.lastName}")
            
            // CELL NUMBER
            .form-group
              label(for="cell_number") Cellphone Number
              input(type="text", class="form-control", id="cell_number", name="cell_number", title='Phone Number (Format: 999.999.9999)', value="#{volunteer.cellNumber}")
              //- input(type="text", class="form-control", id="cell_number", name="cell_number",  pattern='/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})/', title='Phone Number (Format: 999.999.9999)', value="#{volunteer.firstName}")

            // HOME PHONE NUMBER
            .form-group
              label(for="home_number") Home Phone Number
              input(type="text", class="form-control", id="home_number", name="home_number", title='Phone Number (Format: 999.999.9999)', value="#{volunteer.homeNumber}")
              //- input(type="text", class="form-control", id="home_number", name="home_number",  pattern='/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})/', title='Phone Number (Format: 999.999.9999)', value="#{volunteer.homeNumber}")
                          
            // EMAIL
            .form-group
              label(for="email") Email
              //- input(type="email", class="form-control", name="email")
              input(type="email", class="form-control", name="email", required, value="#{volunteer.email}")
              
            // GENERAL EMAIL LIST
            .form-group
              div.radio_buttons
                strong Subscribe for our monthly email update!
                div
                  label.font-weight-normal(for="subscribe") Yes
                  if (volunteer.subscribe)
                    input(type="radio", name="subscribe", value="Yes", required, checked)
                    label.font-weight-normal(for="subscribe") No      
                    input(type="radio", name="subscribe", value="No", required)
                  else
                    input(type="radio", name="subscribe", value="Yes", required)
                    label.font-weight-normal(for="subscribe") No      
                    input(type="radio", name="subscribe", value="No", required, checked)
            
            // OPPORTUNITY CATEGORIES
            .form-group
              div
                strong Volunteer opportunities that interest you:
              div.check_boxes
                each opportunity, index in opportunityCategories
                  div
                    if (opportunitySelections[index] == "checked")
                      input(type="checkbox", id="opportunity_#{opportunity._id}", name="opportunity_#{opportunity._id}" checked)
                      label.font-weight-normal(for="opportunity_#{opportunity._id}") #{opportunity.displayText}
                    else
                      input(type="checkbox", id="opportunity_#{opportunity._id}", name="opportunity_#{opportunity._id}")
                      label.font-weight-normal(for="opportunity_#{opportunity._id}") #{opportunity.displayText}
            
            // LANGUAGES SPOKEN  
            .form-group
              div
                strong Languages Spoken (Check all that apply):
              div.check_boxes
                each language, index in languages
                  div
                    if (languageSelections[index] == "checked")
                      input(type="checkbox", id="language_#{language._id}", name="language_#{language._id}" checked)
                      label.font-weight-normal(for="language_#{language._id}") #{language.displayText}
                    else
                      input(type="checkbox", id="language_#{language._id}", name="language_#{language._id}")
                      label.font-weight-normal(for="language_#{language._id}") #{language.displayText}  
                      
                div    
                  input(type="checkbox", id="language_other_selection", name="language_other_selection")
                  label.font-weight-normal(for="language_other_selection") Other
              // OTHER
              div(id="other-language-container")
                label(for="language_other" class="font-weight-normal") Other
                input.other-checkbox(type="text", id="language_other", name="language_other")
            
            // HOW OFTEN
            .form-group      
              label(for="how_often") Approximately how often can you volunteer?
              select(class="form-control", name="how_often")
                option(value="") Choose One
                each howOften, key in howOftens
                  if volunteer.howOften != howOften._id
                    option(value="#{howOften._id}") #{howOften.displayText}
                  else
                    option(value="#{howOften._id}", selected="selected") #{howOften.displayText}

                
            // TIMES OF DAY
            .form-group
              div
                strong What time of day is best for you? (Check all that apply)
              div.check_boxes
                each timeOfDay, index in timesOfDay
                  div
                    if (timesOfDaySelections[index] == "checked") 
                      input(type="checkbox", id="time_of_day_#{timeOfDay._id}", name="time_of_day_#{timeOfDay._id}", checked)
                      label.font-weight-normal(for="time_of_day_#{timeOfDay._id}") #{timeOfDay.displayText}
                    else  
                      input(type="checkbox", id="time_of_day_#{timeOfDay._id}", name="time_of_day_#{timeOfDay._id}")
                      label.font-weight-normal(for="time_of_day_#{timeOfDay._id}") #{timeOfDay.displayText}
              
            // RELIABLE CAR & CAN DRIVE?
            .form-group  
              div
                strong Do you have a reliable vehicle and are able to drive?
              div.radio_buttons
                label.font-weight-normal(for="reliable_transportation") Yes
                if (volunteer.reliableTransportation)
                  input(type="radio", name="reliable_transportation", value="Yes", checked)
                  label.font-weight-normal(for="reliable_transportation") No      
                  input(type="radio", name="reliable_transportation", value="No" )
                else
                  input(type="radio", name="reliable_transportation", value="Yes")
                  label.font-weight-normal(for="reliable_transportation") No      
                  input(type="radio", name="reliable_transportation", value="No", checked)
              
            
            // FAMILY PARTICIPATION
            .form-group
              div
                strong I am interested in opportunities that my family/children can participate in:
              div.radio_buttons
                label.font-weight-normal(for="family_participation") Yes
                if (volunteer.familyParticipation)
                  input(type="radio", name="family_participation", value="Yes", checked)
                  label.font-weight-normal(for="family_paticipation") No      
                  input(type="radio", name="family_participation", value="No" )
                else
                  input(type="radio", name="family_participation", value="Yes" )
                  label.font-weight-normal(for="family_paticipation") No      
                  input(type="radio", name="family_participation", value="No", checked)
                  
            // AFFILATION
            .form-group
              label(for="affiliation") Church or Organizational Affiliation
              select(class="form-control", name="affiliation" )  
                option(value="") Choose One
                each affiliation, key in affiliations
                  if volunteer.affiliation == affiliation._id
                    option(value="#{affiliation._id}" selected="selected") #{affiliation.displayText}
                  else
                    option(value="#{affiliation._id}") #{affiliation.displayText}


                  option(value="#{affiliation._id}") #{affiliation.displayText}
                option(value="other") Other

              // OTHER
              div(id="other-affiliation-container")
                //- p Please Specify
                label(for="affiliation_other" class="font-weight-normal") Please specify
                input.other-dropdown(type="text", id="affiliation_other", name="affiliation_other")
                    
            //- .form-group      
            //-   label(for="how_often") Approximately how often can you volunteer?
            //-   select(class="form-control", name="how_often")
            //-     option(value="") Choose One
            //-     each howOften, key in howOftens
            //-       if volunteer.howOften != howOften._id
            //-         option(value="#{howOften._id}") #{howOften.displayText}
            //-       else
            //-         option(value="#{howOften._id}", selected="selected") #{howOften.displayText}

        
                  
            // HEAR ABOUT US
            .form-group
              label(for="hear_about") How did you hear about us?
              select(class="form-control", name="hear_about" )
                option(value="") Choose One
                each hearAbout, key in hearAbouts
                  if volunteer.hearAboutUs == hearAbout._id
                    option(value="#{hearAbout._id}" selected="selected") #{hearAbout.displayText}
                  else
                    option(value="#{hearAbout._id}") #{hearAbout.displayText}
                option(value="other") Other
                  
              // OTHER
              div(id="other-hear-about-container")
                label(for="hear_about_other" class="font-weight-normal") Please specify  
                input.other-dropdown(type="text", id="hear_about_other", name="hear_about_other")      
                      

            .form-group
              input(type="hidden", name="admin", value="#{volunteer.admin}")
            
            .form-group
              input(type="hidden", name="donor_status", value="#{volunteer.donorStatus}")
            
            .form-group
              input(type="hidden", name="volunteer_id", value="#{volunteer._id}")
                  
            // SUBMIT      
            button.btn.btn-default.submit(type="submit" class="btn btn-default") Submit    
  .container <br>
  .container <br>
